main ul {
  margin-top: 12px;
}

main ul li {
  margin: 4px 0px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

main li::marker {
  color: #d10303a6;
}

main ul li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

main ul li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
