section {
  width: 100%;
  margin-top: var(--medium1);
  display: flex;
  flex-direction: column;
  padding: var(--small2);
  border-radius: var(--medium1);
}

h3 {
  width: 100%;
}

h3 .ticker-name {
  color: var(--primary3);
  margin-left: var(--small1);
}

h3 > div {
  display: flex;
  justify-content: space-between;
}

h3 a {
  font-weight: normal;
  padding: var(--small1);
  border-radius: 5px;
  color: var(--secondary3);
  cursor: pointer;
}

h3 a:hover {
  color: var(--secondary2);
}

h3 a.disabled {
  color: var(--neutral4);
  pointer-events: none;
}

form h4,
form h5 {
  text-align: center;
  margin: var(--small2) 0px;
}

.asset-data-inputs {
  display: flex;
  gap: var(--small3);
}

.asset-data-inputs .input-container:not(:first-child) {
  flex: 1;
}

@media screen and (max-width: 640px) {
  .asset-data-inputs {
    flex-direction: column;
  }
}

.button-container {
  text-align: center;
}

.button-container.right {
  margin: var(--small1) 0px;
  text-align: end;
}

.button-container button {
  font-size: 14px;
  font-weight: normal;
  padding: var(--small1);
  border: 1px solid var(--secondary3);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.button-container button:hover {
  border-color: var(--secondary2);
}

.button-container button.secondary {
  font-size: 14px;
  font-weight: normal;
  padding: var(--small1);
  border-radius: 5px;
  background-color: var(--secondary3);
  color: var(--white);
  cursor: pointer;
}

.button-container button.secondary:hover {
  background-color: var(--secondary2);
}
